<section [ngClass]="checked ? 'section__movie-list--dark' : 'section__movie-list--light'">
  <div style="display: flex; justify-content: Center; padding-top: 15px">
    <select [(ngModel)]="chosenGenre" (change)="chooseGenre()">
      <option *ngFor="let genre of genres.genres" [ngValue]="genre">{{genre.name}}</option>
    </select>
  </div>
  <div class="wrapper-section">
    <app-movies-list-card *ngFor="let movie of movies?.results; let count = index" [movie]="movie" [count]="count" [genres]="genres"></app-movies-list-card>
  </div>
</section>
<app-movies-page [checked]="checked"></app-movies-page>
