<section class="section__movie-list--light">
  <div style="display: flex; justify-content: Center; padding-top: 15px">
<!--  <select onChange={handleChange}>-->
<!--    <option>{genreSelected.name}</option>-->
<!--    {!genres.genres.find(item => item.id === 'All' && item.name === 'All') && genres.genres.unshift({id: 'All', name: 'All'})}-->
<!--    {-->
<!--    genres.genres.map(item => genreSelected.name !== item.name && <option value={JSON.stringify({id: item.id, name: item.name})} key={item.id}>{item.name}</option>)-->
<!--    }-->
<!--  </select>-->
  </div>
  <div class="wrapper-section">
    <app-movies-list-card *ngFor="let movie of movies?.results; let count = index" [movie]="movie" [count]="count" [genres]="genres"></app-movies-list-card>
  </div>
</section>
<app-movies-page></app-movies-page>
