<div [ngClass]="checked ? 'movie__list-item--dark' : 'movie__list-item--light'">
  <img src='{{"https://image.tmdb.org/t/p/w500/" + (movie ? movie.poster_path : genresFromId.poster_path)}}' alt="movie-icon"
       style="width:
  100%; height:
   245px"/>
  <div class="list__item-container">
    <div class="list__item-title">{{movie ? movie.title : genresFromId.title}}</div>
    <div class="list__item-genres">
      <div>
        <img src="./assets/images/location-icon.png" alt="location-icon" class="location-icon"/>
      </div>
      <div>
        <app-genre-badge [genres]="genres" [movieGenres]="movie ? movie.genre_ids : genre_ids"></app-genre-badge>
      </div>
    </div>
    <div class="list__item-description">{{movie ? movie.overview : genresFromId.overview}}</div>
  </div>
  <hr/>
  <div class="item-container">
    <div class="stars-container">
      <app-stars-rating [currentRate]="movie.vote_average"></app-stars-rating>
    </div>
    <div class="f-link">
      <img src="./assets/images/f_letter.png" alt="f-icon"/>
    </div>
  </div>
</div>
