*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__light{
  height: 150px;
  background: white;
}

.header__dark{
  height: 150px;
  background: black;
}

.wrapper{
  max-width: 1024px;
  height: calc(100% - 50px);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__logo{
  margin: 0 70px 0 10px;
  width: 15%;
}

.header__burger{
  margin-right: 45px;
  width: 5%;
}

.burger__button{
  height: 35px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid #e7e7e7;
  background: linear-gradient(180deg, #ffffff, #f6f6f6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.burger__button span{
  width: 25px;
  height: 3px;
  background: #bbbbbb;
  margin-bottom: 3px;
}

.burger__button span:last-child {
  margin-bottom: 0;
}

.header__search-form{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #e7e7e7;
  background: #f7f6f6;
}

.search__icon-button{
  width: 18px;
  height: 18px;
  border: none;
  background: none;
  position: absolute;
  right: 3%;
  top: 20%;
  cursor: pointer;
}

.search-icon{
  width: 100%;
  height: 100%;
}

.header__search{
  margin-right: 80px;
  position: relative;
  width: 44%;
}

.header__user-info{
  width: 20%;
}

.switcher__theme-container{
  display: flex;
  justify-content: center;
}

.switcher__theme-block{
  float: right;
  margin: 15px 98px 0 0;
  width: 60px;
  height: 34px;
  position: relative;
}

.switcher__theme-checkbox{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: none;
}

.switcher__theme-background{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 34px;
  background: #d8d8d8;
  transition: .4s;
}

.switcher__theme-background:before{
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  left: 5px;
  top: 2px;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
  transition: .4s;
}

input:checked + .switcher__theme-background{
  background: white;
}

input:checked + .switcher__theme-background:before{
  transform: translateX(20px);
}

@media (max-width: 670px) {
  .wrapper{
    max-width: 496px;
  }
  .header__user-info{
    display: none;
  }
  .header__burger{
    padding-left: 60px;
    margin-right: 50px;
    order: 1;
    width: 19%;
  }
  .header__logo{
    order: 2;
    width: 25%;
    margin: 0 70px 0 0;
  }
  .header__search{
    order: 3;
    width: 11%;
    margin-right: 75px;
  }
  .search__icon-button{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
