<header [ngClass]="checked ? 'header__dark' : 'header__light'">
  <div class="switcher__theme-container">
    <label class="switcher__theme-block">
      <input type="checkbox" class="switcher__theme-checkbox" [(ngModel)]="checked" [checked]="checked" (change)="checkSwitcher()"/>
      <span class="switcher__theme-background"></span>
    </label>
  </div>
  <div class="wrapper">
    <div class="header__logo">
      <img src="./assets/images/Logo.png" alt="logo" class="logo"/>
    </div>
    <div class="header__burger">
      <button class="burger__button" type="button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="header__search">
      <input type="text" class="header__search-form"/>
      <button class="search__icon-button"><img class="search-icon" src="./assets/images/Search_icon.png" alt="search-icon"/></button>
    </div>
    <div class="header__user-info">
      <app-user-info></app-user-info>
    </div>
  </div>
</header>
<hr/>
